
.category-icon {
  font-size: 50px;
  color: rgb(40, 206, 206);
}


.list-group-item .name {
  font-size: 30px;

}

.list-group-item .date {
  font-size: 20px;
}

.list-group-item .amount {
  width: auto;
  height: auto;
  font-size: 50px;
}
